body {
background-image: url(Imagenes/Fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
}


h1 {
    text-align: center;
    display: block;
  color: white;
  }

a {
    text-align: center;
    display: block;
    font-size: 30px
  }

  img {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
  }

  .button {
    background-color: #74a1d1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 30%;
    height: 10%;
    margin: auto;
    border-radius: 5000px;
    margin-bottom: 2%;
    margin-top: 2%;
    }

    .button:hover {
      color: #515151
    }
  
  .button:focus,
  .button:active {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      
  }